#
# blue.config
#
# Copyright (C) 2008 - 2011 by Joshua S. English. This document is the
# intellectual property of Joshua S. English, all rights reserved.
#
# The Asgard game engine unit-test configuration file for custom color-loading.
#

#
# asset configuration
#

[asset]
class=2d
type=color


#
# main color properties
#

[color]
name=Custom Blue (Unit Test Color)
red=0.000000
green=0.000000
blue=0.996094
alpha=1.000000

