#
# default.config
#
# Copyright (C) 2008 - 2011 by Joshua S. English. This document is the
# intellectual property of Joshua S. English, all rights reserved.
#
# The Asgard game engine GUI button default configuration file.
#

#
# asset configuration
#

[asset]
class=2d
type=gui-button


#
# main gui widget button properties
#

[gui.button]
name=GuiWidgetButtonDefault
hasBackgroundColor=false
hasFontColor=false
normalTexture=assets/textures/gui/button/default/normal.config
focusedTexture=assets/textures/gui/button/default/focused.config
highlightedTexture=assets/textures/gui/button/default/highlighted.config
downTexture=assets/textures/gui/button/default/down.config


#
# configure the button font color
#

[gui.button.font.color]
loadByName=true
loadByColor=false
name=Aqua
red=0.000000
green=0.996094
blue=0.996094
alpha=1.000000


#
# configure the button background color
#

[gui.button.background.color]
loadByName=true
loadByColor=false
name=Aqua
red=0.000000
green=0.996094
blue=0.996094
alpha=1.000000

