#
# unit.test.config
#
# Copyright (C) 2008 - 2011 by Joshua S. English. This document is the
# intellectual property of Joshua S. English, all rights reserved.
#
# The Asgard game engine unit-test configuration file for the rendering\
# pipeline management system.
#

#
# asset configuration
#

[asset]
class=engine
type=pipeline


#
# main pipeline properties
#

[pipeline]
gameName=Pipeline Unit Test Game


#
# pipeline modes
#

[pipeline.modes]
length=2
mode001=loading
mode002=unit-test


#
# pipeline: /loading
#

[pipeline.mode.loading]
has2d=true
has3d=false


#
# pipeline: /loading/2d
#

[pipeline.section.loading.2d]
length=1
section001=loading-screen


#
# pipeline: /loading/2d/loading-screen
#

[pipeline.section.loading.2d.loading-screen]
objectLength=2
object001=font-framerate
object002=font-loading
sectionLength=0


#
# pipeline: /loading/2d/loading-screen/font-framerate
#

[pipeline.section.loading.2d.loading-screen.font-framerate]
class=2d
type=font
assetFilename=assets/fonts/unit.test/default.config
posX=4
posY=0
text=default


#
# pipeline: /loading/2d/loading-screen/font-loading
#

[pipeline.section.loading.2d.loading-screen.font-loading]
class=2d
type=font
assetFilename=assets/fonts/unit.test/default.config
posX=4
posY=14
text=Loading...


#
# pipeline: /unit-test
#

[pipeline.mode.unit-test]
has2d=true
has3d=false


#
# pipeline: /unit-test/2d
#

[pipeline.section.unit-test.2d]
length=1
section001=game-screen


#
# pipeline: /unit-test/2d/game-screen
#

[pipeline.section.unit-test.2d.game-screen]
objectLength=2
object001=font-framerate
object002=texture-unit-test
sectionLength=0


#
# pipeline: /unit-test/2d/game-screen/font-framerate
#

[pipeline.section.unit-test.2d.game-screen.test-unit-test]
class=2d
type=font
assetFilename=assets/fonts/unit.test/default.config
posX=4
posY=0
text=default


#
# pipeline: /unit-test/2d/game-screen/texture-unit-test
#

[pipeline.section.unit-test.2d.game-screen.test-unit-test]
class=2d
type=texture
assetFilename=assets/textures/unit.test/milla.jovovich.config
posX=4
posY=14
width=256
height=320

