#
# default.config
#
# Copyright (C) 2008 - 2011 by Joshua S. English. This document is the
# intellectual property of Joshua S. English, all rights reserved.
#
# The Asgard game engine unit-test configuration file for font-loading.
#

#
# asset configuration
#

[asset]
class=2d
type=font


#
# main font properties
#

[font]
name=Default OS Font (Unit Test Font)
fontType=default
#fontType=lucida
#fontType=arial
height=14
isBold=false
isItalic=false
isUnderline=false
charset=ansi
#charset=baltic
#charset=chinese
#charset=east-europe
#charset=great-britian
#charset=greek
#charset=hangul
#charset=russian
#charset=turkish
#charset=vietnamese
hasColor=true


#
# font color properties
#

[font.color]
loadByName=true
loadByColor=false
name=White
red=0.000000
green=0.996094
blue=0.996094
alpha=1.000000

