#
# forensicDaemon.default.config
#
# Copyright (C) 2008 - 2011 by Joshua S. English. This document is the
# intellectual property of Joshua S. English, all rights reserved.
#
# The Asgard Forensic Daemon default configuration file.
#
# Written by Josh English.
#

#
# general properties
#

[general]
debugMode=true
verboseMode=true
logRawForensic=true
rawLogFilename=log/forensic.raw.log
accessLogFilename=log/access.log


#
# internal-logging properties
#

[log]
level=1 # debug
#level=2 # info
#level=3 # fine
#level=4 # warning
#level=5 # error
#level=6 # severe
#level=7 # panic

#output=1 # null
#output=2 # stdout
#output=3 # stderr
output=4 # file

filename=log/forensic-daemon.log


#
# forensic-object destination properties
#

[destination]
ipAddress=192.168.0.1
port=80
url=/actions/postLogForensic

