#
# searchd.excluded.words.default.config
#
# Copyright (C) 2008 - 2011 by Joshua S. English. This document is the
# intellectual property of Joshua S. English, all rights reserved.
#
# A configuration file containing words to exclude from search engine indexing.
#
# Written by Josh English.
#

#
# excluded word list
#

[excluded.words]
wordCount=85
word001=all
word002=also
word003=and
word004=are
word005=ask
word006=been
word007=both
word008=but
word009=came
word010=can
word011=come
word012=did
word013=does
word014=dont
word015=each
word016=eye
word017=for
word018=gave
word019=get
word020=got
word021=had
word022=has
word023=have
word024=her
word025=him
word026=his
word027=how
word028=knew
word029=know
word030=let
word031=lot
word032=man
word033=may
word034=men
word035=more
word036=most
word037=much
word038=must
word039=noun
word040=now
word041=our
word042=put
word043=saw
word044=say
word045=see
word046=she
word047=sit
word048=some
word049=such
word050=sure
word051=than
word052=that
word053=the
word054=their
word055=them
word056=then
word057=there
word058=these
word059=they
word060=thing
word061=this
word062=those
word063=though
word064=told
word065=too
word066=try
word067=until
word068=use
word069=very
word070=vowel
word071=was
word072=went
word073=were
word074=what
word075=when
word076=where
word077=which
word078=while
word079=who
word080=why
word081=with
word082=would
word083=yet
word084=you
word085=your

