#
# searchd.default.config
#
# Copyright (C) 2008 - 2011 by Joshua S. English. This document is the
# intellectual property of Joshua S. English, all rights reserved.
#
# The Asgard search-engine daemon default configuration file.
#
# Written by Josh English.
#

#
# logging properties
#

[log]
#logOutput=null
#logOutput=stdout
#logOutput=stderr
logOutput=file
logFilename=log/searchd.log
logLevel=debug
#logLevel=info
#logLevel=fine
#logLevel=warning
#logLevel=error
#logLevel=severe
#logLevel=panic


#
# http protocol
#

[http.protocol]
isTempFileMode=false
#isTempFileMode=true
tempFileThresholdBytes=16384
tempFileSpaceAllowedBytes=16777216
tempFileSpaceInUseBytes=0
tempFileBasePath=/tmp

#
# server properties
#

[server.threading]
#isThreadPoolShrinkEnabled=false
isThreadPoolShrinkEnabled=true
minThreadPoolLength=4
maxThreadPoolLength=8

[server.packets]
isDumpPacketsEnabled=false
#isDumpPacketsEnabled=true
useIndividualFiles=false
#useIndividualFiles=true
#usePacketHeaders=false
usePacketHeaders=true
path=log/packets
filename=searchd.packets

[server.socket]
hostname=192.168.0.1
port=8080


#
# search engine properties
#

[search.engine]
maxContainerCount=65536
maxContainerMemoryLength=134217728
containerTimeout=65536.0
minStringLength=3
maxStringLength=18
stringDelimiters=" |~,;:.][)(}{*@!&-_"

[search.engine.backup]
stateWriteThresholdSeconds=1200.0
statePath=assets/data/searchd
containerWriteThresholdSeconds=1200.0
containerPath=assets/data/searchd

[search.engine.exclusions]
excludedWordConfigFilename=conf/searchd.excluded.words.default.config

