#
# wowcpr.config
#
# Copyright (C) 2008 - 2011 by Joshua S. English. This document is the
# intellectual property of Joshua S. English, all rights reserved.
#
# The World of Warcraft Combat Log Reports statistical-event summarization
# application configuration file.
#
# Written by Josh English.
#

#
# general properties
#

[general]
fileSearchPath=assets/data/wowcprInput
duplicateIndexPath=assets/data/wowcprIndex
metaFileExtension=meta
defaultYear=2009

#
# data source properties
#

[dataSourceProperties]
dbHostname=localhost
dbPort=0
dbUsername=wowcpr
dbPassword=wowcpr
dbConnectionFlags=
dbName=wowcpr

