#
# club-01.config
#
# Copyright (C) 2008 - 2011 by Joshua S. English. This document is the
# intellectual property of Joshua S. English, all rights reserved.
#
# The Poker Game Prototype, suit clubs, card ace - configuration file.
#

#
# asset configuration
#

[asset]
class=2d
type=texture


#
# main texture properties
#

[texture]
name=PokerDeckCardClubsAce
qualityLevel=highest
renderMode=repeat
hardwareResident=true
loadType=plugin-tga
hasGlProperties=false
isBlended=true
hasColormask=false
hasRgbaChange=false
hasSetRgbaChannel=false


#
# load a texture from a TGA image
#

[texture.plugin.tga]
filename=assets/poker/textures/deck/club-01.tga


#
# texture blending
#

[texture.blend]
source=SourceAlpha
destination=OneMinusSourceAlpha

