#
# sphere.config
#
# Copyright (C) 2008 - 2011 by Joshua S. English. This document is the
# intellectual property of Joshua S. English, all rights reserved.
#
# The Asgard game engine unit-test configuration file for a 3D sphere shape.
#

#
# asset configuration
#

[asset]
class=3d
type=mesh-shape-sphere


#
# main texture properties
#

[mesh-shape-sphere]
name=3D Sphere (Unit Test Static Mesh Shape)
sliceCount=32
stackCount=32
radius=2.0
centerX=0.0
centerY=0.0
centerZ=0.0

