#
# milla.jovovich.config
#
# Copyright (C) 2008 - 2011 by Joshua S. English. This document is the
# intellectual property of Joshua S. English, all rights reserved.
#
# The Asgard game engine unit-test configuration file for texture-loading.
#

#
# asset configuration
#

[asset]
class=2d
type=texture


#
# main texture properties
#

[texture]
name=Milla Jovovich (Unit Test Texture)
#qualityLevel=lowest
#qualityLevel=low
#qualityLevel=medium
#qualityLevel=medium-high
#qualityLevel=high
qualityLevel=highest
#renderMode=clamp
#renderMode=clamp-to-border
#renderMode=clamp-to-edge
#renderMode=mirrored-repeat
renderMode=repeat
#hardwareResident=false
hardwareResident=true
#loadType=empty
#loadType=color
loadType=plugin-tga
#loadType=native
hasGlProperties=false
isBlended=false
hasColormask=false
hasRgbaChange=false
hasSetRgbaChannel=false


#
# build empty texture
#

[texture.empty]
width=512
height=640


#
# build texture from a color
#

[texture.color]
width=512
height=640
loadByName=true
loadByColor=false
name=Aqua
red=0.000000
green=0.996094
blue=0.996094
alpha=1.000000


#
# load a texture from a TGA image
#

[texture.plugin.tga]
filename=assets/textures/unit.test/milla.jovovich.tga


#
# load a texture from an Asgard Texture File (ATF)
#

[texture.native]
filename=assets/textures/unit.test/milla.jovovich.atf


#
# set one or more extended OpenGL texture properties
#

[texture.gl.properties]
length=0
property001=TextureMinFilter			# The texture minifying function is
										# used whenever the pixel being
										# textured maps to an area greater than
										# one texture element.
value001=Nearest
#value001=Linear
#value001=NearestMipmapNearest
#value001=LinearMipmapNearest
#value001=NearestMipmapLinear
#value001=LinearMipmapLinear

property002=TextureMagFilter			# The texture magnification function is
										# used when the pixel being textured
										# maps to an area less than or equal to
										# one texture element.

value002=Nearest
#value002=Linear

property003=TextureMinLod				# Sets the minimum level-of-detail.
value003=-1000

property004=TextureMaxLod				# Sets the maximum level-of-detail.
value004=1000

property005=TextureBaseLevel			# Specifies the index of the lowest
										# defined mipmap level.
value005=0

property006=TetxtureMaxLevel			# Sets the index of the highest defined
										# mipmap level.
value006=1000

property007=TextureWrapS				# or TextureWrapT, TextureWraR - sets
										# the wrap parameter for texture
										# coordinate S, T, or R
value007=Clamp
#value007=ClampToBorder
#value007=ClampToEdge
#value007=MirroredRepeat
#value007=Repeat

property008=TextureBorderColor			# Sets a border color -1.0 - 1.0
value008=Aqua

property009=TexturePriority				# Specifies the texture residence
										# priority of the currently bound
										# texture.
value009=true
#value009=false

property010=TextureCompareMode			# Specifies the texture comparison
										# mode for currently bound depth
										# textures.
value010=CompareRToTexture
#value010=None

property011=TextureCompareFunc			# Specifies the comparison operator
										# used when TextureCompareMode is set
										# to CompareRToTexture.
value011=Lequal
#value011=Gequal
#value011=Less
#value011=Greater
#value011=Equal
#value011=NotEqual
#value011=Always
#value011=Never

property012=DepthTextureMode			# Specifies a single symbolic constant
										# indicating how depth values should be
										# treated during filtering and texture
										# application.
value012=Luminance
#value012=Intensity
#value012=Alpha

property013=GenerateMipmap				# Specifies a boolean value that
										# indicates if all levels of a mipmap
										# array should be automatically updated
										# when any modification to the base
										# level mipmap is done.
value013=true
#value013=true



#
# texture blending
#

[texture.blend]
source=SourceColor
#source=OneMinusSrcColor
#source=DestinationColor
#source=OneMinusDestinationColor
#source=SourceAlpha
#source=OneMinusSourceAlpha
#source=DestiationAlpha
#source=OneMinusDestinationAlpha
destination=SourceColor
#destination=OneMinusSrcColor
#destination=DestinationColor
#destination=OneMinusDestinationColor
#destination=SourceAlpha
#destination=OneMinusSourceAlpha
#destination=DestiationAlpha
#destination=OneMinusDestinationAlpha


#
# texture color masking
#

[texture.colormask]
loadByName=false
loadByColor=true
name=Aqua
red=0.000000
green=0.996094
blue=0.996094
alpha=1.000000
maskType=Add
#maskType=Modulate
#maskType=Decal
#maskType=Blend
#maskType=Replace
#maskType=Combine


#
# apply RGBA color change to one or more RGBA channels
#

[texture.apply.rgba.change]
length=1
type001=red								# red, green, blue or alpha
value001=-21							# -255 - 255


#
# set the color of one or more RGBA channels
#

[texture.set.rgba.channel]
length=1
type001=green							# red, green, blue or alpha
value001=255							# -255 - 255

