#
# test-tile.config
#
# Copyright (C) 2008 - 2011 by Joshua S. English. This document is the
# intellectual property of Joshua S. English, all rights reserved.
#
# The Asgard game engine - tiles - unit.test - test-tile, configuration file.
#

#
# asset configuration
#

[asset]
class=2d
type=texture


#
# main texture properties
#

[texture]
name=TilesUnitTest
qualityLevel=highest
renderMode=repeat
hardwareResident=true
loadType=plugin-tga
hasGlProperties=false
isBlended=false
hasColormask=false
hasRgbaChange=false
hasSetRgbaChannel=false


#
# load a texture from a TGA image
#

[texture.plugin.tga]
filename=assets/textures/tiles/unit.test/test-tile.tga

