#
# default.config
#
# Copyright (C) 2008 - 2011 by Joshua S. English. This document is the
# intellectual property of Joshua S. English, all rights reserved.
#
# The Asgard game engine GUI autoscroll default configuration file.
#

#
# asset configuration
#

[asset]
class=2d
type=gui-autoscroll


#
# main gui widget autoscroll properties
#

[gui.autoscroll]
name=GuiWidgetAutoscrollDefault
hasBackgroundColor=false
hasFontColor=false


#
# configure the autoscroll font color
#

[gui.autoscroll.font.color]
loadByName=true
loadByColor=false
name=Aqua
red=0.000000
green=0.996094
blue=0.996094
alpha=1.000000


#
# configure the autoscroll background color
#

[gui.autoscroll.background.color]
loadByName=true
loadByColor=false
name=Aqua
red=0.000000
green=0.996094
blue=0.996094
alpha=1.000000

