#
# default.config
#
# Copyright (C) 2008 - 2011 by Joshua S. English. This document is the
# intellectual property of Joshua S. English, all rights reserved.
#
# The Asgard game engine GUI checkbox default configuration file.
#

#
# asset configuration
#

[asset]
class=2d
type=gui-checkbox


#
# main gui widget button properties
#

[gui.checkbox]
name=GuiWidgetCheckBoxDefault
boxTexture=assets/textures/gui/button/default/box.config
markTexture=assets/textures/gui/button/default/mark.config